@font-face{
    font-family: "Fahkwang";
    src: url(css/fonts/Fahkwang-Bold.ttf) format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face{
    font-family: "Fahkwang";
    src: url(css/fonts/Fahkwang-BoldItalic.ttf) format('truetype');
    font-weight: bold;
    font-style: italic;
}
@font-face{
    font-family: "Fahkwang";
    src: url(css/fonts/Fahkwang-ExtraLight.ttf) format('truetype');
    font-style: 200;
    font-weight: normal;
}
@font-face {
    font-family: "Fahkwang";
    src: url(css/fonts/Fahkwang-Medium.ttf) format('truetype');
    font-weight: normal;
}

@font-face {
    font-family: "Armin grotesk2";
    src: url(css/fonts/Armin-Grotesk2.ttf);
    font-weight: bolder;
    font-style: normal;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;   
}
body{
    font-family: 'Outfit';
    margin: 0;
    padding: 0;   
}
main{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 80dvh;
}
.logo-image{
    position: absolute;
    height: 75px;
    top: -10px;
    left: 22px;
    width: 32px;
    rotate: 43deg;
    margin: 0px 0 0 px;
}
.home-li{
  margin: -5px 0px 9px 5px;  
}
.skip-link{
    opacity: 0;
    pointer-events: none;
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 1000;
    background-color: #2b2726;
    color: #fff;
    padding: 12px 24px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    font-size: 1rem;
    transition: 0.3s ease;
}
.skip-link:focus{
    opacity:1;
    pointer-events: auto;
    outline:3px solid #fff;
}

#navbar{
    display: flex;
    margin: 0px 0 70px 15px ;
    border-radius: 90px;
    width: 98%;
    height: 60px;
    background-color: #af7466;
    border-bottom: 1px solid #652c2c;
    font-family: "fahkwang";
    font-size: small;

}
.nav-ul{
    list-style: none;
    display: flex;
}
nav li{
    display: flex;
    font-size: larger;
}
nav .home-li{
    color: #9b3232;
    margin-right: auto ;
    font-family: "fahkwang";
    font-weight: bolder;
    font-size: large;
}
nav a{
    display: flex;
    text-decoration: none;
    color:#201e1f;
    padding: 1em 2em;
    transition: background-color 120ms ease;
}
nav a:hover{
    background-color: #a44c4c;
    color: rgb(255, 254, 254);
    border-radius: 90px;
    height: 60px;
}
nav a.active-link{
    margin-top: 10px;
    border-bottom: 4px solid #494747;
    border-top: 4px solid #494747;
    border-radius: 90px;
    height: 0;
    align-items: center;
}
#open-sidebar-button{
    display: none;
    background: none;
    border: none;
    padding: 1em; 
    margin-left: auto;
    cursor: pointer;
}
#close-sidebar-button{
    display: none;
    background: none;
    border: none;
    padding: 1em;
    cursor: pointer;
}
#overlay{
    background: rgba(0, 0, 0, 0.5);
    position: fixed;
    inset: 0;
    z-index: 9;
    display: none;
    top: 0; left: 0;
    width: 100vw; height: 100vh;
}
body.sidebar-open #overlay {
    display: block;
}

.first-section{
   background: linear-gradient(520deg, #bfed4a 70%, #c4a7d5 80%, #c9a4de 95%);
   margin-bottom: 6%;
   margin-top: 0%;
   height: 100%;
   position: relative;
}
.second-section{
    margin: 0px 0 10px;
    height: 86rem;
    padding: 4rem 2rem;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    position: relative;
}
.bottom-section{
    background-color: #08183d;
    margin-bottom: 10px;
    height: 45rem;
}
.about-us-body,
.contact-us-body{
    height: 1850px;
    max-height: 2000px;
}
.about-us-first-section{
   background: linear-gradient(160deg, #bfed4a 70%, #cde4a4 80%, #c99e59 95%);
   margin-bottom: 6%;
   margin-top: 0%;
   height: 895px;
   max-height: 1200px;
   width: 100%;
   max-width: 2497px;
   z-index: 0;
   object-fit: cover;
}

#main-content{
margin: 0 0 43px;
position: relative;

}
.paragraph1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 40px;
    Padding: 0;
    width: 100%;
    height: 800px;
    max-height: 1800px;
    position: relative;
    object-fit: cover;
}

.intro-text{
    margin: 170px 0 0 0;
    max-height: 300px;
    display: flex;
    flex-direction: column;
}
.intro-text1a{
    margin: 170px 0 0 0;
}
.mainContent-text1a,
.mainContent-text1{
    text-align: center;
    text-decoration: none;
    font-family: 'fahkwang', sans-serif;
    font-size: 3.5rem;
    font-weight:100;
    letter-spacing: -0.01em;
    max-height: 300px ;
}
.span-color{
    color: #6c4fff;
    margin: 0;
}
#background-img1a,
#background-img{
  display: flex;
  flex-direction: column;
  align-self: flex-start;
  align-items: flex-start;
  position: relative;
  width: 100%;
  max-width: 100%;
  height: 50vw; 
}
#background-img{
margin: 70px 0 0 0;
}
#background-img1a{
  margin: 70px 0 0 0;
}
.intro-herotext{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 90px;
    margin: 0px;
    font-family: 'BC Novatica CYR', 'fahkwang';
    position: absolute;
}
.mainContent-text2{
    position: absolute;
    color: rgb(207, 23, 23);
    display: flex;
    text-align: center;
    font-family: 'BC Novatica CYR', 'Fahkwang-BoldItalic','fahkwang',fantasy;
    font-weight: 500 ;
    font-size: 3vb;
    width: 50dvw;
    margin-top: 130px;
}
.mainContent-text2a{
    color: rgb(207, 23, 23);
    display: flex;
    text-align: center;
    font-family: 'BC Novatica CYR', 'Fahkwang-BoldItalic','fahkwang',fantasy;
    font-weight: 300px;
    font-size: 11px;
    width: 300px ;
    margin: 30px 30px 0 0;
}
.img-div1{
    width: 100%;
    max-width: 100%;
    max-height: 200%;
    min-height: 150%;
    object-fit: cover;
}
.img-mainContent1a,
.img-mainContent1b,  
.img-mainContent1{
  height: 40%;
  max-height: 700px;
  border-radius: 9px;
  object-fit: cover;
  width: 97%;
  max-width: 100%
}
.img-mainContent1a,
.img-mainContent1b{
    
    margin: 0 0 70px 15px;
}
.img-mainContent1{
  margin: 0 0 20px 15px;
}
.img-mainContent1a{
    margin: 0 0 20px 25px;
}
.img-mainContent1b{
    object-position: bottom;
    margin: 0 0 20px 15px;
}
.img-mainContent2,
.img-mainContent2a,
.img-mainContent3{
    border-radius: 10%;
    width: 45%;
    height: 90%;
    object-fit: cover;
}
.img-mainContent2{
  align-self: flex-start;
  margin: 20px 0 0 15px;
}
.img-mainContent2a{
  align-self: flex-start;
  margin: 20px 20px 0 0;
}
.img-mainContent3{
  align-self: flex-start;
  margin: 20px 10px 0;
}
.who-we-are{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    position:relative;
    height: 0px;
}
.our-platform{
    position: relative;
    height: 30rem; 
    display: flex;
    align-items: center;
    background-color: #efe7d6;
    border-radius: 25px;
    margin: 0 ;
    opacity: 1;
    transform: translateY(20px);
    transition: all 9s ease-out;
    will-change: opacity, transform;
}

.our-platform2,
.our-platform3,
.our-platform4{
    border-radius: 25px;
    width: 55%;
    height: 100%;
}
.our-platform2{
    background: linear-gradient(160deg, rgb(241, 186, 186), rgb(123, 203, 159), #aee622); 
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 13px 0 0;

}
.our-platform3{
    background: linear-gradient(160deg, rgb(133, 237, 29), rgb(243, 172, 172), #f4bd8d);
    display: flex;
    flex-direction: column;
    margin: 0 0 0 14px;
}
.our-platform4{
    background: linear-gradient(230deg, rgb(247, 179, 127), rgb(141, 193, 214), #a5ea7d);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 0 0 30px;
}
.our-drive1{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px 0;
}
.our-drive2{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 60px 0 0;
}
.our-drive-text1{
    font-family: 'fahkwang', 'Times New Roman', Times, serif;
    font-weight: normal;
    font-size: 50px;
    margin-bottom: 30px;
}
.our-drive-text2{
    color: white;
    font-family: 'fahkwang', 'Times New Roman', Times, serif;
    font-weight: bold;
    font-size: xx-large;
    margin: 30px 0;
}
.our-drive-text3{
    color: white;
}
.chalengessolutions-list1{
    position: relative;
    margin: 100px 30px 0;
}
.chalengessolutions-list2{
    margin: 133px 30px 0;
}

.our-platform-headertext{
    font-family: fahkwang;
    font-weight: 100;
    display: flex;
    justify-content: center;
    text-align: center;
    margin: 60px 0 20px 
}
.our-platform-paragraph-text{
  text-align: center;
  margin-bottom: 30px;
}
#our-model-header{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10% 0 5%;
    font-family: 'fahkwang';
    font-weight: 400;
    position: relative;
}
.our-model-text{
    padding-left: 11%;
    position: relative;
}
.our-platform-div1{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 20%;
    position: relative;
    margin-top: 30px;
}
.our-platform-headertext2{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 100;
    text-decoration: underline;
    padding-bottom: 10px;
}
.BFASTR{
    font-weight: bold;
}
.cta-button,
.cta-button1,
.cta-button2,
.cta-button-about-us,
.cta-button-contact-us{
    position: relative;
    background-color: #dcd3d1;
    color: #6c4fff;
    border-radius: 10rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif,  sans-serif, 'Times New Roman';
    font-size: larger;
    font-weight: 400;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40%;
    height: 50px;
    transition: background-color 150ms ease;
}
.cta-button{
    align-self: center;
    margin: 20px 0 0 20px;
}

.cta-button1{
    align-self: center;
    margin: 120px 0 0 160px;
}
.cta-button2{
    justify-content: space-around;
    align-self: center;
    margin: 200px 0px 70px 160px;
}
.cta-button-contact-us,
.cta-button-about-us{
    margin: 20px 0px 0px 40px;
}

.cta-button:hover,
.cta-button1:hover,
.cta-button2:hover,
.cta-button-about-us:hover,
.cta-button-contact-us:hover{
    background-color: #af7466;
    color: #fff;
}
.cta-div2{
    position: relative;
    display: flex;
    justify-content: center;
    width: 95%;
}
.cta-sub-div2{
    position: relative;
    display: flex;
    justify-content: center;
    width: 100%;
}
.cta-form{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #201e1f;
  border-radius: 40px;
  width: 100%;
  max-width: auto;
  min-width: auto;
  height: 200px;
  padding: 0 20px 20px 0px;
  margin-top: 30px;
}
.about-us-main-content{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.cta-div2-about-us{
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: flex-start;
    justify-content: center;
    width: 100%;
    margin: 40px 0 30px ;
}
.cta-sub-div2-about-us{
    position: relative;
    display: flex;
    justify-content: center;
    width: 50%;
}
.cta-form-about-us{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #201e1f;
  border-radius: 40px;
  width: 100%;
  max-width: auto;
  min-width: auto;
  height: 200px;
  padding: 0 20px 20px 0px;
}
.cta-input-fields{
    width: 50%;
}
.cta-email-field{
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 100%;
    height: 50px;
    border: none;
    outline: none;
    margin: 20px 0 0 15px;
    font-weight: 50px;
    color:#050505;
    border-radius: 50px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif,  sans-serif, 'Times New Roman';
    font-size:medium;
}
.cta-email-field:focus{
    border: 7px solid #574b51;
}
.video-decorator{
    display: block;
    width: 100%;
    height: 100%;
}
.coffee-video{
    width: 100%;
    height: 100%;
    border-radius: 40px;
    overflow: hidden;
}
.footer-divider{
    margin-bottom: 2%;
}
.about-us-sub-main-content{
    width: 90%;
}
.about-us-sub1{
    font-family: 'fahkwang', 'Times New Roman', Times, serif;
    font-size: 50px;
    text-align: center;
    margin-bottom: 40px;;
}
.about-us-sub2{
    margin:0 0px 40px 0 ;
    text-align: center;
    font-size: larger;
    font-family: 'Trebuchet MS', sans-serif ;
}
.my-form{
    background-color: #efeded;
    border-radius: 20px;
    display: flex;
    gap: 5%;
    margin: 30px 15px 0px 10px;
    height: 450px;
    max-height: 100%;
}
.contact-left{
    background: linear-gradient(210deg,rgb(215, 162, 63), rgb(143, 208, 143), rgb(117, 141, 187));
    border-radius: 20px;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    z-index: 1
}
.contact-left-title{
    font-weight: 600;
    color: rgb(87, 148, 30);
    font-size: 40px;
    text-align: center;
    margin-bottom: 60px;
    font-family: 'fahkwang';
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif,  sans-serif, 'Times New Roman';
}
.contact-left-title hr{
    border: none;
    width: 390px;
    height: 5px;
    background-color:  rgb(203, 205, 152);
    border-radius: 10px;
    margin-bottom: 20px;
}
.contact-left textarea{
    height: 140px;
    padding-top: 15px;
    border-radius: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif,  sans-serif, 'Times New Roman';
    font-size: medium;
}
.contact-left button{
    display: flex;
    align-items: flex-start;
    margin-left: 30px;
    padding: 15px 30px;
    font-size: 16px;
    color: #fff;
    gap: 10px;
    border: none;
    border-radius: 30px;
    background: linear-gradient(270deg, #4d8832, #fa6d86);
    cursor:pointer;
    transition: background-color 150ms ease;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif,  sans-serif, 'Times New Roman';
    font-size: medium;
}

.contact-left button:hover{
    background-color: #eee8e6;
}
.contact-left button img{
    height: 15px;
}
.contact-inputs{
    width: 400px;
    height: 50px;
    border: none;
    outline: none;
    margin: 30px 30px 0 30px;
    padding-left: 25px;
    font-weight: 50px;
    color:#666;
    border-radius: 50px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif,  sans-serif, 'Times New Roman';
    font-size: medium;
}
.contact-inputs:focus{
    border: 2px solid #bd6424;
}
.contact-right{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    margin-right: 90px;
    min-height: 500px ;
}
.contact-vid{
    width: 600px;
    height: 300px;
    border-radius: 105px;
    margin: 0;
}
.footer-divider-paragraph{
    margin-bottom: 40px;
}

@media (max-width:700px){
    #open-sidebar-button, #close-sidebar-button{
        display:block;
        
    }
   nav{
        position: fixed;
        top:0;
        right:-100%; 
        height: 100vh;
        width: min(15em, 100%);
        z-index:10;
        border-left: 1px solid #222020;
        transition: right 300ms ease-out;
   }
    #navbar {
        flex-direction: column;
        position: fixed;
        width: 80vw;
        height: 100vh;
        max-width: 320px;    
    }
    #navbar.show {
    transform: translateX(0);
   }
    nav.show{
        right: 0;
    }
    nav ul{
        width: 100%;
        flex-direction: column;
    }
    nav li {
    justify-content: flex-start;
   }
    nav a{
        width: 100%;
        padding-left: 1rem;
    }
    nav a.active-link{
        border-bottom: 3px;
    }
     nav a:hover {
    border-radius: 23px;
    height: auto;
   }
    nav .home-li{
        margin-right: unset;
    }
  .first-section{
    position: relative;
    height: 730px;
    max-height: 800px;
    margin: 0 0 50px 0;
    padding: 20px 10px;
  }
  .second-section{
    height: 2100px;
    width: 100%;
    margin: 0 0 10px 0;
  }
.bottom-section {
    height: 965px;
    margin: 0 0 40px 0;
    padding: 20px 0;
}
.about-us-first-section{
   margin-bottom: 6%;
   margin-top: 0%;
   width: 100%;
   max-width: 1497px;
   z-index: 0;
   object-fit: cover;
}
#main-content{
     width: 100%;
     margin-top: 0; 
     height: 600px;
}
    .paragraph1 {
        margin-top: 20px;
        width: 100%;
        height: 550px;
        padding: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .intro-text {
        width: 100%;
    }
    .intro-text1a {
        width: 100%;
        padding-bottom: 70px;
    }
    .mainContent-text1 {
        font-size: 250%;
        max-height: 400px;
        font-family: 'fahkwang';
    }
    .mainContent-text1a {
        font-size: 200%;
        height: 200px;
        font-family: 'fahkwang', Arial, Helvetica, sans-serif;
    }
    #background-img{
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    #background-img1a{
        width: 100%;
        height: 170px;
        flex-direction: column;
        margin-top: 70px;
    }
    .intro-herotext {
        font-size: 1em;
        height: auto;
    }
    .mainContent-text2 {
        text-align: center;
        font-size: 3vw;
        margin-top: 0px;
        width: 100%;
    }
    .img-div1{
        display: flex;
        width: 100%;
        height: 100px;
        object-fit: cover;
    }
    .img-mainContent1,
    .img-mainContent1a,
    .img-mainContent1b{
            border-radius: 9px;
            object-fit: cover;
            width: 97%;
            max-width: 100%;
    }
    .img-mainContent1{
        height: 30%;
    }
    .img-mainContent1a,
    .img-mainContent1b{
        height: 40%;
        margin-right: 20px;
    }

    .img-mainContent2{
        width: 90%;
        height: 30%;
        margin: 20px 30px 0 20px;
    }
    .img-mainContent2a{
        width: 90%;
        height: 30%;
        margin: 20px 30px 0 20px;
    }
    .img-mainContent3{
        width: 90%;
        height: 40%;
        margin: 20px 30px 20px 20px;
    }
    .our-platform {
        flex-direction: column;
        height: 890px;
        margin: 0;
    }
    #our-platform-a{
    height: 800px;
   
    }
    #our-platform-b{
        height: 790px;
    }
    .our-platform2,
    .our-platform3,
    .our-platform4{
        display: flex;
        width: 100%;
        flex-direction: column;
    }
    .our-platform2{ 
        margin-left: 10px;
        height: 65%;
        } 
    .our-platform3 {
        height: 60%;
        margin: 90px 1px 40px 0;
    }
    .our-platform4 {
        height: 55%;
        margin: 0 10px 0 10px;
    }
    .cta-div2{
        position: relative;
        display: flex;
        justify-content: center;
        width: 90%;
        padding-bottom: 60px;
    }
    .cta-div2-about-us{
        display: flex;
        flex-direction: column;
        align-items: center;
        align-self: flex-start;
        justify-content: center;
        width: 90%;
        margin: 40px 0 0 30px ;
        }
    .cta-sub-div2,
    .cta-sub-div2-about-us{
        width: 90%;
    }
    .cta-sub-div2{
        margin-bottom: 50px;
    }
    .cta-form-about-us{
        background-color: #201e1f;
        border-radius: 40px;
        max-width: auto;
        min-width: auto;
        height: 200px;
        }
    .cta-form{
        width: 100%;
        height: 200px;
        margin-bottom: 30px;
    }
    .cta-input-fields{
        width: 60%;
    }
    .cta-button{
        width: 80%;
        margin: 10px 0 0 40px;
        font-size: 1rem;
        height: 45px;
        width: 50%;
    }
    .cta-button1{
        width: 80%;
        margin: 190px auto 0 auto;
        font-size: 1rem;
        height: 45px;
    }
    .cta-button2 {
        width: 80%;
        margin: 25px auto 0;
        font-size: 1rem;
        height: 45px;
    }
    .cta-button-about-us{
        margin: 20px 0 0 20px;
    }
    .cta-button-contact-us{
        width: 40%;
        margin: 20px 10px 0px 30px;
    }
    .video-decorator,
    .coffee-video {
        width: 100%;
        height: 100%;
        border-radius: 900px;
        overflow: hidden;
    }
    .our-model-header{
        height: 100%;
        margin-bottom: 0px;
    }
    .our-drive1 {
        margin: 20px 0;
    }
    .our-drive-text1 {
        font-size: 2rem;
        text-align: center;
    }
    .our-drive-text2 {
        font-size: 1.2rem;
        margin-top: 20px;
        text-align: center;
    }
    .our-drive-text3 {
        text-align: center;
        font-size: 1rem;
    }
    .our-platform-div1{
        flex-direction: column;
        margin: 60px 0 0 0;
    }
    .chalengessolutions-list2 {
        flex-direction: column;
        margin: 20px 0 0 0;
    }
    .our-platform-head1{
        height: 50%;
        margin-bottom: 0px;
    }
    .our-platform-headertext {
        font-size: 1.5rem;
        margin: 50px 0 20px;
        text-align: center;
    }
    .footer-divider{
        margin: 0 0 0 0%;
    }
    #background-img {
        height: 100%;
        margin: 0;
    }
    .my-form{
        width: 100%;
        height: 700px;
        display: flex;
        flex-direction: column;
    }
    .contact-left{
        width: 100%;
        height: 50%;
    }
    .contact-left button{
       display: flex;
       align-items: center;
       margin-bottom: 20px;
    }
    .contact-inputs{
        width: 80%; 
        height: 90px; 
    }
    .contact-left-title{
        color: rgb(43, 45, 42);
        font-size: 40px;
        margin: 60px;
        font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
    }
    .contact-right{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 90%;
        height: 50%;
        padding-bottom:240px;
        margin-left: 20px;
    }

}
